@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root {
        --main-height: 150vh;
      }
      body{
        height:var(--main-height);
        padding:0px;
        margin:0px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        overflow-y: scroll;
        overflow-x: hidden;
        font-family: 'Open Sans', sans-serif;
        background: rgb(24,28,36);
        transition:all 1s;
        transition:all 1s;
        opacity:0;
        pointer-events: none;

}
body.loaded{
        transition:all 1s;
        opacity:1;
        pointer-events: all;
}
a {
    text-decoration: none !important;
    color:white;
}
::-webkit-scrollbar {
    width: .5vw;
}    
::-webkit-scrollbar-track {
    background-color: rgb(47, 58, 75);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 .5vw rgb(0, 0, 0);
}
.background-filter{
        position:absolute;
        left:0px;
        top:0px;
        width:100vw;
        height:60vh;
        background: rgb(24,28,36);
        background: linear-gradient(360deg, rgba(24,28,36,1) 0%, rgba(24,28,36,0.8477766106442577) 33%, rgba(38,42,51,0.592874649859944) 95%);
}
.background-filter-2{
        position:absolute;
        left:0px;
        top:60vh;
        width:100vw;
        height:var(--main-height);               
        background: rgb(24, 28, 36);
      
}
.top-background{
        position:absolute;
        left:0px;
        top:0px;
        width:100vw;
        height:60vh;
}
.top-title{
    position:absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top:3vh;
    color:white;
    font-size:5vw;
    margin:0px;
}
.navbar{
    position:absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top:20vh;
    width:98vw;
    height:18vh;
    border-radius:8px;
    background-color:rgb(47, 58, 75);
}
.navbar-menu-wrapper {
    position:absolute;
    top:25%;
    left: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;        
    border-radius:8px;
    column-gap: 20px;
    height:10vh;
    border-radius: 8px;        
    font-size:1.5vw;
    text-align: center;
    line-height: 10vh;
    color:white;
}
.navbar-element {
    transition: all .4s;
    flex: 0%;
    border-bottom:.8vh solid rgba(43, 189, 50,.0);
}
.shop-button{
    position:absolute;
    right:30px;
    top:25%;
    width:20vw;
    height: 50%;
    border-radius:15px;
    background-color:#2BBD32;
    border:2px solid #2BBD32;
    font-size:1.6vw;
    color:white;
    transition: all 0.3s, box-shadow 0.3s ease-in-out;
    -webkit-box-shadow:0px 0px 74px 35px rgba(26, 116, 31,0.93);
    -moz-box-shadow: 0px 0px 74px 35px rgba(26, 116, 31,0.93);
    box-shadow: 0px 0px 74px 35px rgba(26, 116, 31,0.93);
    cursor:pointer;
}
.shop-button:hover {
    background-color: #2fa335;
    border:2px solid white;
    -webkit-box-shadow:0px 0px 74px 35px rgba(43, 189, 50,0.93);
    -moz-box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.93);
    box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.93);
}
.title{
    position:absolute;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top:43.5vh;
    color:white;
    font-size:3.5vw;
    margin:0px;
}
.title-hr{
    border:2px solid #2BBD32;
    position:absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top:40vh;
    width:65vw;
    border-radius: 50px;
}
.title-hr-2{
    border:2px solid #2BBD32;
    position:absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top:55vh;
    width:35vw;
    border-radius: 50px;
}
.subtitle{
    color:white;
    text-align:center;
    position:absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top:60vh;
    width:80vw;
    font-size:2.2vw;
}
.navbar-selected{
    border-bottom:.8vh solid #2BBD32 !important;
    border-radius: .4vw;
}
.navbar-element:hover{
    border-bottom:.8vh solid #2BBD32;
    border-radius: .4vw;
    transition: border 1s;
}
.instructions{
    position:absolute;
    top:80vh;
    right:5vw;
    height:40vh;
    width:40vw;
}
.instructions-title{
    position:absolute;
    text-align: center;
    color:#2BBD32;
    left: 50%;
    margin:0px;
    top:5vh;
    font-size:2.8vw;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.instructions-text{
    color:white;
    position:absolute;
    top:10vh;
    width:40vw;
    text-align:center;
    font-size:1.6vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.rewards{
    background-color:rgb(47, 58, 75);
    position:absolute;
    right:5vw;
    width:40vw;
    height:78vh;
    top:125vh;
    border-radius:8px;
}
.rewards-title{
    position:absolute;
    text-align: center;
    color:#2BBD32;
    left: 50%;
    margin:0px;
    top:5vh;
    font-size:2.8vw;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.rewards-text{
    color:white;
    position:absolute;
    top:12vh;
    line-height:8vh;
    width:30vw;
    text-align:left;
    font-size:2vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.voting{
    overflow:hidden;
    position:absolute;
    top:80vh;
    left:5vw;
    width:40vw;
    height:125vh;
    border-radius:8px;
    border:5px solid #2BBD32;
    -webkit-box-shadow:0px 0px 74px 35px rgba(43, 189, 50,0.23);
    -moz-box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.23);
    box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.23);
}
footer{
    position:absolute;
    bottom:-150vh;
    left:0px;
    width:100vw;
    height:40vh;
    background-color:#10141c;
}
.footer-column-element {
    position:absolute;
    top:0vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;      
    column-gap: 10px;
    height:40vh;
    overflow: hidden;
    border-top: .4vh solid #2BBD32;
}
  
.footer-column {
    flex: 0%;
    overflow: hidden;
}
.story-title{
    text-align:left;
    position:absolute;
    left:3vw;
    color:#2BBD32;
    font-size:2.3vw;
    font-weight:bold;  
    margin-bottom: 40px;  
}
.story-text{
    position:absolute;
    width:22vw;
    text-align:left;
    top:12vh;
    left:3vw;
    color:white;
    font-size:1.3vw;
}
.social-title{
    text-align:center;
    color:#2BBD32;
    font-size:2.3vw;
    font-weight:bold;    
    line-height: 3vh;
}
.social-hr{
    width:10vw;
    border-color: #303c4c;
    line-height: 1vh;
}
.social-text{
    line-height: 1vh;
    text-align:center;
    color:white;
    font-size:1.3vw;
}
.support-title{
    text-align:left;
    position:absolute;
    right:13.5vw;
    color:#2BBD32;
    font-size:2.3vw;
    font-weight:bold;    
}
.support-text{
    position:absolute;
    width:22vw;
    text-align:left;
    top:12vh;
    right:3vw;
    color:white;
    font-size:1.3vw;
}
.social-text-yt {
    line-height: 1vh;
    text-align:center;
    color:#cc181e;
    font-size:1.3vw;
}
.social-text-twitter {
    line-height: 1vh;
    text-align:center;
    color:#00acee;
    font-size:1.3vw;
}
.social-text-tiktok {
    line-height: 1vh;
    text-align:center;
    color:#ff0050;
    font-size:1.3vw;
}
.social-text-instagram {
    line-height: 1vh;
    text-align:center;
    color:#c7e100;
    font-size:1.3vw;
}
.support-shop-button{
    position:absolute;
    margin-top: 30px;
    right:5vw;
    top:28vh;
    width:20vw;
    height: 20%;
    border-radius:15px;
    background-color:#2BBD32;
    border:2px solid #2BBD32;
    font-size:1.6vw;
    color:white;
    transition: all 0.3s, box-shadow 0.3s ease-in-out;
    -webkit-box-shadow:0px 0px 74px 35px rgba(26, 116, 31,0.93);
    -moz-box-shadow: 0px 0px 74px 35px rgba(26, 116, 31,0.93);
    box-shadow: 0px 0px 74px 35px rgba(26, 116, 31,0.93);
    cursor:pointer;
}
.support-shop-button:hover {
    background-color: #2fa335;
    border:2px solid white;
    -webkit-box-shadow:0px 0px 74px 35px rgba(43, 189, 50,0.93);
    -moz-box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.93);
    box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.93);
}