@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root {
        --main-height: 100vh;
      }
body{
        height:var(--main-height);
        padding:0px;
        margin:0px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        overflow-y: hidden;
        overflow-x: hidden;
        font-family: 'Open Sans', sans-serif;
}
body.loaded{
        transition:all 1s;
        opacity:1;
        pointer-events: all;
}
.background-filter-2{
        position:absolute;
        left:0px;
        top:0px;
        width:100vw;
        height:var(--main-height);               
        background: rgb(24, 28, 36);
}
.error{
    position:absolute;
    color:white;
    font-size:12vh;
    top:12vh;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin:0px;
}
.page-not-found{
    position:absolute;
    color:white;
    font-size:8vw;
    width:80vw;
    text-align: center;
    top:35vh;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin:0px;
}
.back-button{
    position:absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top:55vh;
    width:80vw;
    height: 10vh;
    border-radius:8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    background-color:#2BBD32;
    border:2px solid #2BBD32;
    font-size:3.5vh;
    color:white;
    transition: all 0.3s, box-shadow 0.3s ease-in-out;
    -webkit-box-shadow:0px 0px 74px 35px rgba(26, 116, 31,0.93);
    -moz-box-shadow: 0px 0px 74px 35px rgba(26, 116, 31,0.93);
    box-shadow: 0px 0px 74px 35px rgba(26, 116, 31,0.93);
    cursor:pointer;
}
.back-button:hover {
    background-color: #2fa335;
    border:2px solid white;
    -webkit-box-shadow:0px 0px 74px 35px rgba(43, 189, 50,0.93);
    -moz-box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.93);
    box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.93);
}