@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root {
        --main-height: 100vh;
      }
body{
        height:var(--main-height);
        padding:0px;
        margin:0px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        overflow-y: hidden;
        overflow-x: hidden;
        font-family: 'Open Sans', sans-serif;
}
.background-filter{
        position:absolute;
        left:0px;
        top:0px;
        width:100vw;
        height:60vh;
        background: rgb(24,28,36);
        background: linear-gradient(360deg, rgba(24,28,36,1) 0%, rgba(24,28,36,0.8477766106442577) 33%, rgba(38,42,51,0.592874649859944) 95%);
}
.background-filter-2{
        position:absolute;
        left:0px;
        top:60vh;
        width:100vw;
        height:var(--main-height);               
        background: rgb(24, 28, 36);
      
}
.top-background{
        position:absolute;
        left:0px;
        top:0px;
        width:100vw;
        height:60vh;
}
.error{
    position:absolute;
    color:white;
    font-size:16vw;
    top:0vh;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin:0px;
}
.page-not-found{
    position:absolute;
    color:white;
    font-size:6vw;
    top:40vh;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin:0px;
}
.back-button{
    position:absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top:70vh;
    width:40vw;
    height: 10vh;
    border-radius:15px;
    background-color:#2BBD32;
    border:2px solid #2BBD32;
    font-size:1.6vw;
    color:white;
    transition: all 0.3s, box-shadow 0.3s ease-in-out;
    -webkit-box-shadow:0px 0px 74px 35px rgba(26, 116, 31,0.93);
    -moz-box-shadow: 0px 0px 74px 35px rgba(26, 116, 31,0.93);
    box-shadow: 0px 0px 74px 35px rgba(26, 116, 31,0.93);
    cursor:pointer;
}
.back-button:hover {
    background-color: #2fa335;
    border:2px solid white;
    -webkit-box-shadow:0px 0px 74px 35px rgba(43, 189, 50,0.93);
    -moz-box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.93);
    box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.93);
}