@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root {
        --main-height: 300vh;
      }
body{
        height:var(--main-height);
        padding:0px;
        margin:0px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        overflow-y: scroll;
        overflow-x: hidden !important;
        font-family: 'Open Sans', sans-serif;
        background: rgb(24,28,36);
        transition:all 1s;
        transition:all 1s;
        opacity:0;
        pointer-events: none;
}

body.loaded{
        transition:all 1s;
        opacity:1;
        pointer-events: all;
}
a {
        text-decoration: none !important;
        color:white;
}
::-webkit-scrollbar {
        width: .5vw;
    }    
    ::-webkit-scrollbar-track {
        background-color: rgb(47, 58, 75);
    }
    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 .5vw rgb(0, 0, 0);
    }
.background-filter{
        position:absolute;
        left:0px;
        top:0px;
        width:100vw;
        height:30vh;
        background: rgb(24,28,36);
        background: linear-gradient(360deg, rgba(24,28,36,1) 0%, rgba(24,28,36,0.8477766106442577) 33%, rgba(38,42,51,0.592874649859944) 95%);
}
.background-filter-2{
        position:absolute;
        left:0px;
        top:29.5vh;
        width:100vw;
        height:var(--main-height);               
        background: rgb(24, 28, 36);
      
}
.top-background{
        user-select: none;;
        position:absolute;
        left:50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top:0px;
        width:200vw;
        height:30vh;
        overflow:hidden;
}
.title{
        position:absolute;
        top:5vh;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        color:white;
        font-size:15vw;
}
.header{
        position:fixed;
        left: 0px;
        top:0px;
        width: 100vw;
        height:15%;
       z-index:5;
       transition: height .6s;
       }
    .header1{
        background-color:#121212;
        position:absolute;
        left: 0px;
        top: 0px;
        width: 100vw;
        height:100%;
       opacity:0;
       transition: opacity 0.5s;
       }

       .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        user-select:none;
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      
      .change .bar2 {opacity: 0;user-select:none;}
      
      .change .bar3 {
        user-select:none;
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
      .menu-container{
      position:absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      right:50px;
      transition: background-color 0.4s, box-shadow 0.3s ease-in-out;
      cursor:pointer;
      user-select:none;
      }
      .menu-wrapper{
      position:fixed;
      left:0px;
      top:0px;
      background-color:#4d4d4d;
      width:100vw;
      height:100vh;
      visibility: hidden;
      opacity:0;
        transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s;
      }
      .header-name{
        color: white;
        position:absolute;
        left:40px;
        top: 50%;
        font-size:10vw;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align:center;
        margin:0px;
        padding:0px;
        transition: all .6s;
        }
        .header-name.big{
                color: white;
                position:absolute;
                left: 18vw;
                top: 16vh;
                font-size:15vw;
                text-align:center;
                margin:0px;
                padding:0px;
                }










.big-block{
        position:absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top:29vh;
        width:95vw;
        height:60vh;
        border-radius:8px;
        background-color:rgb(47, 58, 75);
        overflow: hidden;
}
.about-image{
        object-fit: cover;
        height:30vh;
        width:98vw;
        position:absolute;
        top:0px;
        left:0px;
        border-bottom: .4vw solid #2BBD32;
        cursor: pointer;
}
.about-title{
        cursor: pointer;
        position:absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width:60vw;
        text-align:center;
        top:27.5vh;
        color:#2BBD32;
        font-size:4vh;
        font-weight:bold;  
}
.about-text{
        position:absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width:85vw;
        height:20vh;
        text-align:center;
        bottom:0vh;
        color:white;
        font-size:1.9vh;
}
.map-block{
        position:absolute;
        top:91vh;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 95vw;        
        height:25vh;
        border-radius: 8px;
        background-color:rgb(47, 58, 75);
}
.dynmap{
        position:absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        border: none;
        border: 2px solid #2BBD32;
        border-right: 2.5px solid #2BBD32;
        user-select: none;
        width:90vw;
        height:23vh;
        border-radius:8px;
        -webkit-user-drag: none;
}
.column-element {
        position:absolute;
        top:118vh;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 95vw;      
        border-radius:8px;
        row-gap: 20px;
        height:180vh;
        border-radius: 8px;
}
      
.column {
        flex: 0%;
        border-radius: 8px;
        background-color:rgb(47, 58, 75);
        overflow: hidden;
        transition: all .4s;
        cursor:pointer;
}
.glow:hover{
        -webkit-box-shadow:0px 0px 74px 35px rgba(43, 189, 50,0.43);
        -moz-box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.43);
        box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.43);
}
.column-picture{
        object-fit: cover;
        height:25vh;
        width:95vw;
        position:absolute;
        top:-2vh;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        border-bottom: .4vh solid #2BBD32;
}
.column-title{
        position:absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width:85vw;
        height:20vh;
        text-align:center;
        top:22vh;
        color:white;
        font-size:4vh;
        cursor: pointer;
}
.column-text{
        position:absolute;
        cursor: pointer;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height:25vh;
        width:70vw;
        text-align:center;
        top:30vh;
        color:white;
        word-wrap: break-word;
}
.navbar-menu-wrapper {
        position:absolute;
        top:25%;
        left: 4%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 40%;        
        border-radius:8px;
        column-gap: 20px;
        height:10vh;
        border-radius: 8px;        
        font-size:1.5vw;
        text-align: center;
        line-height: 10vh;
        color:white;
} 
.navbar-element {
        transition: all .4s;
        flex: 0%;
        border-bottom:.8vh solid rgba(43, 189, 50,.0);
}
.shop-button{
        position:absolute;
        right:30px;
        top:25%;
        width:20vw;
        height: 50%;
        border-radius:15px;
        background-color:#2BBD32;
        border:2px solid #2BBD32;
        font-size:1.6vw;
        color:white;
        transition: all 0.3s, box-shadow 0.3s ease-in-out;
        -webkit-box-shadow:0px 0px 74px 35px rgba(26, 116, 31,0.93);
        -moz-box-shadow: 0px 0px 74px 35px rgba(26, 116, 31,0.93);
        box-shadow: 0px 0px 74px 35px rgba(26, 116, 31,0.93);
        cursor:pointer;
}
.shop-button:hover {
        background-color: #2fa335;
        border:2px solid white;
        -webkit-box-shadow:0px 0px 74px 35px rgba(43, 189, 50,0.93);
        -moz-box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.93);
        box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.93);
}
iframe {
        position:absolute;
        border-radius:10px;
        left:20px;
        top:20px;
        width:94vw;
        height:73vh;
}
.Dynmap-image {
        position:absolute;
        border-radius:10px;
        left:20px;
        top:20px;
        width:94vw;
        height:73vh;
        border: #2BBD32 solid 2px;
}
footer{
        position:absolute;
        bottom:-240vh;
        left:0px;
        width:100vw;
        height:40vh;
        background-color:#10141c;
}
.footer-column-element {
        position:absolute;
        top:0vh;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;      
        column-gap: 10px;
        height:40vh;
        overflow: hidden;
        border-top: .4vh solid #2BBD32;
}
      
.footer-column {
        flex: 0%;
        overflow: hidden;
}
.story-title{
        text-align:left;
        position:absolute;
        left:3vw;
        color:#2BBD32;
        font-size:2.3vw;
        font-weight:bold;  
        margin-bottom: 40px;  
}
.story-text{
        position:absolute;
        width:22vw;
        text-align:left;
        top:12vh;
        left:3vw;
        color:white;
        font-size:1.3vw;
}
.social-title{
        text-align:center;
        color:#2BBD32;
        font-size:2.3vw;
        font-weight:bold;    
        line-height: 3vh;
}
.social-hr{
        width:10vw;
        border-color: #303c4c;
        line-height: 1vh;
}
.social-text{
        line-height: 1vh;
        text-align:center;
        color:white;
        font-size:1.3vw;
}
.social-text-yt {
        line-height: 1vh;
        text-align:center;
        color:#cc181e;
        font-size:1.3vw;
}
.social-text-twitter {
        line-height: 1vh;
        text-align:center;
        color:#00acee;
        font-size:1.3vw;
}
.social-text-tiktok {
        line-height: 1vh;
        text-align:center;
        color:#ff0050;
        font-size:1.3vw;
}
.social-text-instagram {
        line-height: 1vh;
        text-align:center;
        color:#c7e100;
        font-size:1.3vw;
}
.support-title{
        text-align:left;
        position:absolute;
        right:13.5vw;
        color:#2BBD32;
        font-size:2.3vw;
        font-weight:bold;
}
.support-text{
        position:absolute;
        width:22vw;
        text-align:left;
        top:10vh;
        right:3vw;
        color:white;
        font-size:1.3vw;
}
.support-shop-button{
        position:absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top:28vh;
        width:90vw;
        height: 15%;
        border-radius:15px;
        background-color:#2BBD32;
        border:2px solid #2BBD32;
        font-size:5vw;
        color:white;
        transition: all 0.3s, box-shadow 0.3s ease-in-out;
        -webkit-box-shadow:0px 0px 74px 35px rgba(26, 116, 31,0.93);
        -moz-box-shadow: 0px 0px 74px 35px rgba(26, 116, 31,0.93);
        box-shadow: 0px 0px 74px 35px rgba(26, 116, 31,0.93);
        cursor:pointer;
}
.support-shop-button:hover {
        background-color: #2fa335;
        border:2px solid white;
        -webkit-box-shadow:0px 0px 74px 35px rgba(43, 189, 50,0.93);
        -moz-box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.93);
        box-shadow: 0px 0px 74px 35px rgba(43, 189, 50,0.93);
}